<h1>Listing rank_of_users</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rank_of_users.each do |rank_of_user| %>
      <tr>
        <td><%= link_to 'Show', rank_of_user %></td>
        <td><%= link_to 'Edit', edit_rank_of_user_path(rank_of_user) %></td>
        <td><%= link_to 'Destroy', rank_of_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rank of user', new_rank_of_user_path %>
