<%= form_for(@offer) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= f.label :"Offer title"%><br>
  <%= f.text_area :offerTitle, :cols => "40", :rows => "2" %>
  </div>
    <div class="field">
      <%= f.label :Cost%><br>
      <%= f.number_field :offerCos %> zł
    </div>
    <div class="field">
      <%= f.label :Picture%><br>
      <%= f.file_field  :offerPicture %>
    </div>
    <div class="field">
      <%= f.label :"Start date"%><br>
      <%= f.date_select :offerStart_date %><br>
      <%= f.label :"End date"%><br>
      <%= f.date_select :offerEnd_date %>
    </div>
    <div class="field">
      <%= f.label :"Type of building"%><br>
      <%= f.text_area :offerType_building_id %>
    </div>
    <div class="field">
      <%= f.label :"Measurement"%><br>
      <%= f.number_field :offerArea %> m<sup>2</sup>
    </div>
    <div class="field">
      <%= f.label :"Number of rooms"%><br>
      <%= f.number_field :offerRooms %>
    </div>
    <div class="field">
      <%= f.label :"Adress"%><br>
      <%= f.text_area :offerLocalization, :cols => "30", :rows => "5" %>
    </div>
    <div class="field">
      <%= f.label :"Email"%><br>
      <%= f.text_field :offerMail_contact %>
    </div>
    <div class="field">
      <%= f.label :"Phone"%><br>
      <%= f.text_field :offerPhone_contact %>
    </div>
    <div class="field">
      <%= f.label :"Description"%><br>
      <%= f.text_area :offerDescription, :cols => "40", :rows => "5" %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
