<h1>Listing offers</h1>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Title</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Location</th>
      <th>Cost</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= image_tag(offer.offerPicture_url, :width => 300) if offer.offerPicture.present? %></td>
        <td><%= offer.offerTitle %></td>
        <td><%= offer.offerStart_date %></td>
        <td><%= offer.offerEnd_date %></td>
        <td><%= offer.offerLocalization %></td>
        <td><%= offer.offerCos %></td>
        <td><%= link_to 'Show', offer %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_offer_path %>
