<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @offer.offerTitle %>
</p>
<p>
  <strong>Cost:</strong>
  <%= @offer.offerCos %>
</p>
<p>
  <strong>Picture:</strong>
  <%= image_tag(@offer.offerPicture_url, :width => 300) if @offer.offerPicture.present? %>
</p>
<p>
  <strong>Start date:</strong>
  <%= @offer.offerStart_date %>
</p>
<p>
  <strong>End date:</strong>
  <%= @offer.offerEnd_date %>
</p>
<p>
  <strong>Type of building:</strong>
  <%= @offer.offerType_building_id %>
</p>
<p>
  <strong>Measurement:</strong>
  <%= @offer.offerArea %>
</p>
<p>
  <strong>Number of rooms:</strong>
  <%= @offer.offerRooms %>
</p>
<h3>Adress</h3>
<p>
  <strong>Adress:</strong>
  <%= @offer.offerLocalization %>
</p>
<h3>Contact</h3>
<p>
  <strong>Email:</strong>
  <%= @offer.offerMail_contact %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @offer.offerPhone_contact %>
</p>
<p>
  <strong>Description:</strong>
  <%= @offer.offerDescription %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
